.adjustments {
	font-size:.8em;
	opacity: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.table-hover > tbody > tr:hover .adjustments {
	opacity: 1;
}
.negative {
	color:#F00;
}
.positive {
	color:#3c763d;
}
.positive:before {
	content:"+ ";
}